.body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 }



/*******************************SERVICES START*********************************/

.services {
  background-color: var(--background);

}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px auto;
}

.service-box {
  color: #f8f9fa;
  padding: 30px;
  margin: 20px 0;
  border-radius: 20px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-box h3 {
  font-size: 20px;
  font-weight: 700;
  color: #f8f9fa
}

.service-box img {
  margin-bottom: 22px;
}

.service-box:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.service-box.color1 {
  background-color: rgb(249, 215, 76);
  box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
}

.service-box.color2 {
  background-color: rgb(249, 123, 139);
  box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
}

.service-box.color3 {
  background-color: rgb(108, 108, 229);
  box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}


/*******************************SERVICES END***********************************/
